/*  RESET DE CONFIGURAÇÕES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background-color: rgb(206, 180, 145); */
    background-image: url("assets/fundo-pagina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h1 {
    text-align: center;
    color: brown;
    margin: 20px 0;
}



p {
    text-align: center;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    display: block;
    text-align: center;
    color: brown;
    text-decoration: none;
}

button {
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: red;
}




